<p>Personal landing page for Steve Anderson. Links to my projects and contact info are below.</p>
<ul class="fa-ul main-list">
  <li class="main-list-item">
  <span class="fa fa-github fa-lg main-list-item-icon"></span>
  <a href="https://github.com/stevenixng">Code</a>
  </li>
  <li class="main-list-item">
  <span class="fa fa-cutlery fa-lg main-list-item-icon"></span>
  <a href="https://nomnomi.com">Recipe blog</a>
  </li>
  <li class="main-list-item">
  <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
  <a href="mailto:stevenix.ng@gmail.com">Email</a>
  </li>
</ul>
